@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.Chat-div {
  width: 100%;
  height: 100vh;
}

.Chat-display {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Chat-btn-D {
  float: right;
  text-align: center;
  width: 60px;
}

.Chat-right {
  width: 90%;
}

.Chat-btn-D button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ff0000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.Chat-btn-D img {
  margin-top: 2px;
  width: 30px;
}

.Chat-api {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.Chat-body {
  margin-top: 1%;
  width: 400px;
  height: 500px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  overflow-y: hidden;
}

.Chat-head {
  width: 100%;
  background-color: #393939;
  padding-top: 20px;

}

.Chat-head p {
  font-size: 25px;
  font-weight: 400;
  color: white;
  margin-left: 20px;
  margin-top: -7px;
  padding-bottom: 10px;
}

.Chat-Messages {
    margin-top: -25px;
    width: 100%;
    height: 350px;
    background-color: #ffffff;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse; /* Display messages in reverse order */
  }
  
.Chat-input-submit {
  display: flex;
  justify-content: center;
  margin-top: 17px;
}

.wid-90 {
  width: 95%;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
}

.Chat-input {
  width: 70%;
  height: 50px;
  outline: none;
  font-family: "poppins";
  padding: 5px;
  border: 1px solid black;

}

.Chat-btn {
position: relative;
top: -35%;
  width: 25%;
  height: 50px;
  margin-left: 5px;
  border-radius: 0px;
  background-color: #393939;
  font-weight: 400;
}
.Chat-btn:hover{
  background-color: rgb(113, 113, 113);
  transition: 1s;
}
.message-bg {
    margin-left: auto;
    margin-right: 10px;
    float: right;
    clear: both;
    max-width: 40%;
    background-color: #4707ff; 
    color: white;
    padding: 3px;
    margin-bottom: 10px;
    font-family: "poppins";
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    
  }
  
  .message-bg p {
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  