@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
    background-color: aliceblue;
}

.outer-interviewer {
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-interview-A {
    width: 90%;
    display: flex;
    flex-wrap: wrap-reverse;

}

.left {
    width: 50%;
}

.text-A {
    width: 100%;
}

.text-A p {
    font-family: "poppins";
    font-size: 30px;
    font-weight: bolder;
}

.text-B {
    width: 100%;
}

.text-B p {
    font-family: "poppins";
    font-size: 13px;

}

.interview-submit button {
    width: 50%;
}

.right {
    width: 50%;

    text-align: center;
}

.right img {
    width: 85%;
    margin-left: 4%;
    background-color: aliceblue;

}

.Details {
    width: 100%;
    text-align: center;
}

.h3-details {
    font-family: "poppins";
    font-weight: 500;
    font-size: 30px;
    background-color: black;
    color: white;
    height: 70px;
    padding: 10px;
}

.scroll-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    justify-content: space-evenly;
}

.card-details {
    margin-top: 5%;
    width: 30%;
    padding: 20px;

}

.A-img-width {
    width: 220px;
}

.card-A-witdh {
    text-align: center;
}

.text-width {
    width: 100%;
    text-align: center;
}

.take-meet {
    width: 100%;
    text-align: center;
}

.take-meet-btn {
    width: 50%;
    line-height: 10px;
}

.text-A-bold {
    font-size: 20px;
    font-weight: bolder;
    font-family: "poppins";
}

.text-bold {
    font-size: 13px;
    font-family: "poppins";
}

@media screen and (max-width: 1200px) {

    .main-interview-A {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;

    }

    .left {
        width: 100%;

    }

    .left {
        width: 100%;

    }

    .right {
        width: 100%;
    }

    .right img {
        width: 60%;
        text-align: center;
    }

    .scroll-details {
        justify-content: center;
    }

    .card-details {
        width: 80%;
    }

    .left-text-A {
        font-family: "poppins";
        font-weight: bolder;
        font-size: 20px;
    }

    .left-text-B {
        font-family: "poppins";
        font-size: 11px;
    }

    .left-butn {
        width: 40%;
        line-height: 20px;
    }

    .text-A {
        width: 100%;
        text-align: center;
    }

    .text-A p {
        font-family: "poppins";
        font-size: 25px;
        font-weight: bolder;
    }

    .text-B {
        width: 100%;
        text-align: center;
    }

    .text-B p {
        font-family: "poppins";
        font-size: 12.5px;

    }

    .interview-submit {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 900px) {


    .main-interview-A {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;

    }

    .left {
        width: 100%;

    }

    .left {
        width: 100%;

    }

    .right {
        width: 100%;
    }

    .right img {
        width: 70%;
        text-align: center;
    }

    .scroll-details {
        justify-content: center;
    }

    .card-details {
        width: 80%;
    }

    .left-text-A {
        font-family: "poppins";
        font-weight: bolder;
        font-size: 20px !important;
    }

    .left-text-B {
        font-family: "poppins";
        font-size: 11px;
    }

    .left-butn {
        width: 40%;
        line-height: 20px;
    }

    .text-A {
        width: 100%;
        text-align: center;
    }

    .text-A p {
        font-family: "poppins";
        font-size: 23px;
        font-weight: bolder;
    }

    .text-B {
        width: 100%;
        text-align: center;
    }

    .text-B p {
        font-family: "poppins";
        font-size: 11.5px;

    }

    .interview-submit {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {



    .text-A p {
        font-family: "poppins";
        font-size: 20px;
        font-weight: bolder;
    }

    .text-B {
        width: 100%;
        text-align: center;
    }

    .text-B p {
        font-family: "poppins";
        font-size: 10.5px;

    }


}