@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
body{
    background-color: white;
    margin: auto;
}
.ul {
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
  }
  
  .li {
    margin-right: 20px;
    font-size: 20px;
    float: right;
  }
  
 .li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

.outer-main-div {
    background-color: white;
    width: 100%;
    height: 100%;
    font-family: "poppins";
    background-color: rgb(255, 255, 255);
}

.li:after{
    content: '';
    margin-top: -10px;
    display: block;
    height: 3px;
    width: 0%;
    background-color: transparent;
    /* transition: width 0.5s ease,background-color 0.5s ease; */
    transition: all 0.5s ease;
  }
  .li:hover:after{
    margin-top: -10px;
    width: 90%;
    background-color: #4707ff;
  }
  .li:hover:after{
    margin-top: -10px;
    width: 90%;
    background-color: #4707ff;
  }
.inner-main-div {
    margin-top: 140px;
    
    display: flex;
    justify-content: center;
    height: 100%;
}

.mid {
    
      
    width: 350px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.midtext {
    font-size: 25px;
}

.midinput {
    padding-bottom: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;

}

.leftfloat {
    text-align: left;
    width: 107%;
}

.leftfloattext {
    font-size: 15px;
    font-weight: 400;
}

.leftfloatinput {
    border-radius: 10px;
    width: 88%;
    outline: 0;
    border:  0.1px solid rgb(206, 199, 199);
    /* box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; */
    padding: 8px;
    font-family: "poppins";
}


h2 {
    font-size: 16px;
    margin-bottom: 1.5em;
    color: #333;
}

/**
 * Simple HTML/CSS switch
 */
.switch-container {
    display: inline-block;
    
}

input[type="checkbox"] {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 39.5px;
    height: 19.5px;
    background-color: #adadad;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin-right: 20px;
}

.switch::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background-color: #4707FF;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

input[type="checkbox"]:checked+.switch::before {
    transform: translateX(20px);
}

input[type="checkbox"]:checked+.switch {
    background-color: #adadad;
}

.switch-txt-left {
    text-align: left;
    margin-left: -245px;
    margin-top: -25px;
    font-size: 10px;
}

button {
    margin-top: 20px;
    transition: all 1s ease;
    color: #fff;
    border: none;
    font-family: 'poppins';
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
    font-size: 12px;
    background-color: #4707FF;
    padding: 12px;
    outline: none;
    border-radius: 10px;
    width: 87%;
}

button:hover {
    transition: 0.8s;
    color: white;
    background-color: #000000;
}
.paddbutton{
    padding-top: 10px;
    padding-bottom: 40px;
}