@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

.meet-div {
    width: 100%;
    height: 100%;
    padding-top: 7%;
}

.inner-div-cam {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.left-cam {
    background-color: black;
}

.right-cam {
    background-color: red;
}

.cam-A {
    border-radius: 15px;
    width: 550px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 0.4s ease;
}

.cam-B {
    border-radius: 15px;
    width: 550px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 0.4s ease;
}

.img-cam-A {
    width: 100%;
    border-radius: 15px;
}

.img-cam-B {
    width: 100%;
    border-radius: 15px;
}

.options {
    margin-top: 100px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.center-optn {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    font-family: "poppins";
}

.btn-A {
    text-align: center;
    width: 100px;

}

.btn-A button {
    width: 60px;
    border-radius: 50%;
    background-color: #0000FF;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-A button:hover {
    background-color: black;
}

.btn-B button:hover {
    background-color: black;
}

.btn-C button:hover {
    background-color: black;
}

.btn-D button:hover {
    background-color: black;
}

.btn-A img {
    margin-top: 2px;
    width: 30px;
}

.btn-B {
    text-align: center;
    width: 100px;

}

.btn-B button {
    width: 60px;
    border-radius: 50%;
    background-color: #0000FF;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-B img {
    margin-top: 2px;
    width: 30px;
}

.btn-C {
    text-align: center;
    width: 100px;

}

.btn-C button {
    width: 60px;
    border-radius: 50%;
    background-color: #0000FF;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-C img {
    margin-top: 2px;
    width: 30px;
}


.btn-D {
    text-align: center;
    width: 100px;

}

.btn-D button {
    width: 60px;
    border-radius: 50%;
    background-color: #ff0000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-D img {
    margin-top: 2px;
    width: 30px;
}


.btn-E {
    text-align: center;
    width: 100px;

}






@media screen and (max-width: 1200px) {
    .cam-A {
        border-radius: 15px;
        width: 550px;
        height: 350px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    }

    .cam-B {
        z-index: 1;
        border-radius: 15px;
        width: 350px;
        height: 250px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        margin-top: 100px;
    }

    .inner-div-cam {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 150px;
    }

}

@media screen and (max-width: 1000px) {
    .cam-A {
        border-radius: 15px;
        width: 450px !important;
        height: 350px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    }

    .cam-B {
        z-index: 1;
        border-radius: 15px;
        width: 240px;
        height: 200px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        margin-top: 150px;
    }

    .inner-div-cam {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 150px;
    }
}

@media screen and (max-width: 800px) {
    .cam-A {
        border-radius: 15px;
        width: 550px !important;
        height: 350px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        margin-top: -50px;
    }

    .cam-B {
        z-index: 5;
        border-radius: 15px;
        width: 240px;
        height: 200px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        margin-top: -200px;
        margin-left: 210px;
        display: none;
    }

    .inner-div-cam {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .center-optn {
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        font-family: "poppins";
    }
}

@media screen and (max-width: 800px) {
    .cam-A {
        border-radius: 15px;
        width: 350px !important;
        height: 450px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        margin-top: -70px;
    }

    .cam-B {
        z-index: 5;
        border-radius: 15px;
        width: 240px;
        height: 200px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        margin-top: -200px;
        margin-left: 210px;
        display: none;
    }

    .inner-div-cam {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .center-optn {
        margin-top: -80px;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        font-family: "poppins";
    }

    .center-optn p {
        font-size: 12px;
        font-weight: bold;
    }

    .btn-A {
        text-align: center;
        width: 100px;

    }

    .btn-A button {
        width: 55px;
        border-radius: 50%;
        background-color: #0000FF;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .btn-A button:hover {
        background-color: black;
    }

    .btn-B button:hover {
        background-color: black;
    }

    .btn-C button:hover {
        background-color: black;
    }

    .btn-D button:hover {
        background-color: black;
    }

    .btn-A img {
        margin-top: 2px;
        width: 23px;
    }

    .btn-B {
        text-align: center;
        width: 100px;

    }

    .btn-B button {
        width: 55px;
        border-radius: 50%;
        background-color: #0000FF;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .btn-B img {
        margin-top: 2px;
        width: 23px;
    }

    .btn-C {
        text-align: center;
        width: 100px;

    }

    .btn-C button {
        width: 55px;
        border-radius: 50%;
        background-color: #0000FF;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .btn-C img {
        margin-top: 2px;
        width: 23px;
    }


    .btn-D {
        text-align: center;
        width: 100px;

    }

    .btn-D button {
        width: 55px;
        border-radius: 50%;
        background-color: #ff0000;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .btn-D img {
        margin-top: 2px;
        width: 23px;
    }


    .btn-E {
        text-align: center;
        width: 100px;

    }
}